# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Virtual environments
venv/
ENV/
env/
.venv/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# IDEs/editors
.vscode/
.idea/

# Logs
*.log

# Coverage/test output
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook
.ipynb_checkpoints

# Others
*.sqlite3
*.db